* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

h2{
  color: #ffffff;
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
  color: #ffffff;
}

p{
  font-size: 1.5rem;
  color: #000000;

}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100vw;
  height: 6vh;
  z-index: 100;
  background-image: url(./assets/backGround.png);
  background-size: cover;
  display: flex;
  align-items: center;
  border-bottom: #ffffff solid 1px;

  .navegacao {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-items: center;

    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      gap: 30px;

      li a {
        color: #ffffff;
        font-size: 2rem;
      }
    }
  }
}

body {
  overflow-x: hidden;
}

main {
  width: 90vw;
}

.inicio {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;


  .backGround {
    width: 100vw;
    height: 100vh;
  }

  .balonsEnuvens {
    img {
      transition: transform 2s ease-out;
    }

    .balon1 {
      position: absolute;
      width: 30%;
      top: 30%;
      left: 38%;
      border: #ff0000 dotted 5px;
      z-index: 3;
    }

    .balon2 {
      position: absolute;
      opacity: 80%;
      width: 8%;
      top: 60%;
      left: 18%;
      z-index: 1;
      border: #ffd000 dotted 5px;
    }

    .balon3 {
      position: absolute;
      opacity: 80%;
      width: 10%;
      top: 65%;
      left: 75%;
      z-index: 1;
      border: #66ff00 dotted 5px;
    }

    .nuvem1 {
      position: absolute;
      // opacity: 80%;
      width: 20%;
      top: 50%;
      left: 34%;
      z-index: 2;
      border: #ff0000 dotted 5px;
    }

    .nuvem2 {
      position: absolute;
      opacity: 70%;
      width: 20%;
      top: 40%;
      left: 2%;
      z-index: 2;

      border: #ffe600 dotted 5px;
    }

    .nuvem3 {
      position: absolute;
      opacity: 70%;
      width: 35%;
      top: 2%;
      left: 5%;
      z-index: 1;

      border: #33ff00 dotted 5px;
    }

    .nuvem4 {
      position: absolute;
      opacity: 50%;
      width: 10%;
      top: 10%;
      left: 40%;
      z-index: 1;

      border: #c300ff dotted 5px;
    }

    .nuvem5 {
      position: absolute;
      opacity: 80%;
      width: 8%;
      top: 50%;
      left: 65%;
      z-index: 1;

      border: #0044ff dotted 5px;
    }

    .nuvem6 {
      position: absolute;
      opacity: 60%;
      width: 40%;
      top: 65%;
      left: 75%;
      z-index: 1;

      border: #ff00ea dotted 5px;
    }

    .nuvem7 {
      position: absolute;
      opacity: 60%;
      width: 40%;
      top: 5%;
      left: 80%;
      z-index: 1;
      border: #000000 dotted 5px;
    }
  }
}

.camada {
  width: 100vw;
  height: 100vh;
  margin-bottom: 10vh;

}

.curiosidades {
  width: 100vw;
  height: 100vh;
  margin-bottom: 10vh;


  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 30px;

    p {
      display: flex;
      width: 60%;
    }

  }
  
}

.pilotando {
  width: 100vw;
  height: 90vh;
  margin-bottom: 10vh;


  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: auto;
  }
  
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 100px;
    margin-left: auto;

    p {
      display: flex;
      width: 60%;
    }
  }
}

.componentes {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 10vh;
  gap: 20px;


  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    h3{
      margin-bottom: 10px;
    }

    p {
      display: flex;
      width: 60%;
    }
  }

  .envelope{
  margin-left: auto;
  }
  .cesto{
    margin-left: auto;
  }

}

.tiposVoos {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
 

  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 30px;

    p {
      display: flex;
      width: 60%;
    }

  }
  }

#curiosidades,
#pilotando,
#componentes,
#tiposVoos {
  scroll-margin-top: 7vh;
}
